---
title: About
---
#about-banner.section.no-pad-bot
  .container
    %h1.text_h.center.header.headline
      %span
        %b Over ons
#page-section-team.section.scrollspy
  .container
    %h2.header.text_b wij:
    .row
      .col.s6.m4.l3.offset-l1
        = render '_employee_card', photo: 'erwin', first_name: 'Erwin',name_and_title: 'Erwin Veermans, MSc', job: 'Technisch projectleider', job2: 'ICT-er / Natuurkundige', extra_info: 'Mede-oprichter', email: 'erwin@roqua.nl'
      .col.s6.m4.l3
        = render '_employee_card', photo: 'sjoerd', first_name: 'Sjoerd', name_and_title: 'Sjoerd Sytema, PhD', job: 'Inhoudelijk projectleider', job2: 'Socioloog', extra_info: 'Mede-oprichter', email: 'sjoerd@roqua.nl'
      .col.s6.m4.l3
        = render '_employee_card', photo: 'jorn', first_name: 'Jorn', name_and_title: 'Jorn van de Beek, BSc', job: 'Developer', job2: 'Computer Scientist'
      .col.s6.m4.l3.offset-l1
        = render '_employee_card', photo: 'herman', first_name: 'Herman', name_and_title: 'Herman Hegeman, BAS', job: 'Systeembeheerder', email: 'herman@roqua.nl'
      .col.s6.m4.l3
        = render '_employee_card', photo: 'marten', first_name: 'Marten', name_and_title:'Marten Veldthuis, MSc', job: 'Developer', job2:'Computer Scientist', email: 'marten@roqua.nl'
      .col.s6.m4.l3
        = render '_employee_card', photo: 'henk', first_name: 'Henk', name_and_title: 'Henk van der Veen, BSc', job: 'Developer', job2: 'Computer Scientist', email: 'henk@roqua.nl'
      .col.s6.m4.l3.offset-l1
        = render '_employee_card', photo: 'ellen', first_name: 'Ellen', name_and_title: 'Ellen Visser, PhD', job: 'Data-analist', job2: 'Trainer', email: 'ellen@roqua.nl'
      .col.s6.m4.l3
        = render '_employee_card', photo: 'inge', first_name: 'Inge', name_and_title: 'Inge ten Vaarwerk, MSc', job: 'Ontwerp en advies vragenlijsten', email: 'inge@roqua.nl'
      .col.s6.m4.l3
        = render '_employee_card', photo: 'arnold', first_name: 'Arnold', name_and_title: 'Arnold van der Meulen', job: 'Developer', job2: 'Computer Scientist', email: 'arnold@roqua.nl'
      .col.s6.m4.l3.offset-l1
        = render '_employee_card', photo: 'rei', first_name: 'Rei', name_and_title: 'Rei Monden, PhD', job: 'R Developer', job2: 'Statisticus', email: 'rei@roqua.nl'
      .col.s6.m4.l3
        = render '_employee_card', photo: 'jij', first_name: 'Jij?', name_and_title: 'Developer', job: "Wij zijn altijd geïnteresseerd in talent, we nodigen je graag een keertje uit op de #{link_to 'thee of koffie', @items['/career/'].path} !"

  .container
    .row
      .col.s12.m12.l9.offset-l1
        %p.thin Het team wordt regelmatig tijdelijk versterkt door een Informatica student van de Hanzehogeschool of de Rijksuniversiteit Groningen die zijn/haar stage of afstudeeronderzoek bij RoQua doet.

  #page-section-achtergrond
  .divider
  .ocean
    .container
      .section
        .row
          .col.s12.m5
            .card-panel.whitesmoke
              %h5 Achtergrond
              %p
                RoQua komt voort uit het
                %a{:href => "https://www.rgoc.nl", :target => "_blank"} Rob Giel Onderzoekcentrum (RGOc)
                , een samenwerkingsverband tussen de noordelijke GGZ instellingen en het Universitair Centrum Psychiatrie (UCP) van het UMCG.  Daar ontstond het idee om zelf een ROM applicatie te gaan ontwikkelen. Sindsdien hebben ook andere GGZ instellingen zich hierbij aangesloten, waardoor RoQua nu een van de grootse ROM initiatieven in Nederland is.
              %p De participerende instellingen betalen jaarlijks een vast bedrag. Dit is het budget waarmee het RoQua team van het UCP wordt gefinancierd. Dit team zorgt voor een permanente verdere ontwikkeling van de applicatie. De Stuurgroep RoQua (waarin alle participanten zijn vertegenwoordigd) zorgt voor aansturing en controle.
          .col.s12.m5.right
            %h2 Academisch
            %p.flow-text RoQua is een academisch project en onderzoek en innovatie spelen daarom een belangrijke rol zoals het samen met statistici ontwikkelen van nieuwe meetmethoden.
            %p.flow-text RoQua participeert inmiddels in een reeks innovatieve onderzoeksprojecten, waarin het routinematig herhaald meten en het klinisch toepassen van de feedback uit de data centraal staan.

  #page-section-non-profit
  .divider
  .container
    .section
      .row
        .col.s12.m5
          %h2
            Non-profit
          %p.flow-text RoQua is een non-profit organisatie en daarom kunnen wij kwaliteit, gebruiksvriendelijkheid, innovatie en onderzoek een centrale plaats geven in ons werk.
        .col.s12.m5.right
          .card-panel.whitesmoke
            %h5 Informatie voor onderzoekers
            %p.flow-text RoQua is in het UMCG formeel erkend als instrument dat onderzoekers mogen gebruiken om hun onderzoek uit te voeren.
            .flow-text= link_to 'Meer >>>', @items['/research/'].path
