!!!
%html{:lang => "en"}
  %head
    %title RoQua
    %meta{"http-equiv" => "Content-Type", :content=>"text/html;charset=utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    /Compiled and minified CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css", :rel => "stylesheet"}
    %link{:href => @items['/stylesheets/application/'].path, :rel => "stylesheet"}
    %script{:src =>"https://code.jquery.com/jquery-2.1.1.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"}
    %script{:src => @items['/javascripts/application/'].path}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", rel:"stylesheet"}
      / you don't need to keep this, but it's cool for stats!
    %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}
  %body
    %header
      .navbar-fixed
        %nav.nav-f
          .container
            .nav-wrapper
              .brand-logo
                %a{:href => @items['/'].path}
                  %img{:src => @items['/images/roqua_logo_t_w/'].path}
              %a{:href => "#", class: 'button-collapse', 'data-activates' => 'mobile-demo'}
                %i.mdi-navigation-menu
              %ul#nav-mobile.right.hide-on-med-and-down
                = render '_main_menu'
              %ul#mobile-demo.side-nav
                = render '_main_menu'
    %main
      = yield

    %footer.page-footer
      .container
        .row
          .col.l3.s12
            %h5.white-text ROQUA
            %p.grey-text.text-lighten-4
              Bezoekadres:
              %br
              UMCG, Triade, Ingang 24, KN 1.02
              %br
              Hanzeplein 1
              %br
              9713 GZ  Groningen
          .col.l4.s12.offset-l1
            %h5.white-text Jobs
            %p.white-text Wij zijn op zoek naar een nieuwe collega!
            %a{:href => @items['/career/'].path}
              .waves-effect.waves-light.btn.whitesmoke
                .sky-text
                  Iets voor jou?
          .col.l2.offset-l1.s12
            %h5.white-text Navigatie
            %ul
              = render '_main_menu'
              %li
                = link_to 'Werken bij Roqua', @items['/career/'].path
      .footer-copyright
        .container
          .right
            © 2015

